@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('../../assets/font/sf-pro-rounded.ttf') format('truetype');
    font-weight: 400; 
}
