.Item-Group, .Nav-Item {
    display: flex;
    align-items: center;
    /* font-weight: 500; */
    position: relative;
    
}
.Item-Group.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
}

.Item-Group:hover .Nav-Item{
    filter: var(--primary-color-filter);
    -webkit-filter: var(--primary-color-filter);
    cursor: pointer;
}

.Chevron-Icon {
    transition: transform 0.3s ease;
}

.Chevron-Icon.rotate {
    transform: rotate(180deg);
}

.Item-Group:hover .Nav-Item,
.Item-Group.active .Nav-Item {
    filter: var(--primary-color-filter);
    -webkit-filter: var(--primary-color-filter);
    cursor: pointer;
}
