.Navbar-Group {
    margin-inline: var(--safe-place);
    padding: var(--safe-place) 0 0 0;
    background-color: transparent;
    position: fixed;
    width: calc(100% - 40px);
    z-index: 10;


}

.Nav-End {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.items {
    cursor: pointer;

}

.items a {
    text-decoration: none;
    color: var(--black-color)

}

.items:hover {
    color: var(--primary-color);

}

.Navbar-Group::before {
    content: "";
    position: absolute;
    top: -19px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 110px;
    background-color: var(--background-color);
    /* filter: blur(3px); */
    z-index: -1;
    border-radius: var(--main-radius);

}

.Nav-hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
}

.Primary-Navbar {
    background-color: var(--white-color);
    width: calc(100% - 40px);
    border-radius: 0 0 var(--main-radius) var(--main-radius);
    height: 75px;
    display: flex;
    align-items: center;
    padding-inline: var(--safe-place);
    box-shadow: var(--main-shadow);
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    animation: fade-in-down 0.7s ease 1;
    -webkit-animation: fade-in-down 0.7s ease 1;
}


.Secondary-Navbar {
    position: relative;
    background-color: var(--white-color);
    border-radius: var(--main-radius) var(--main-radius) 0 0;
    height: 35px;
    display: flex;
    align-items: center;
    padding-inline: var(--safe-place);
    box-shadow: var(--main-shadow);
    justify-content: space-between;
    animation: fade-in-down 0.7s ease 1;
    -webkit-animation: fade-in-down 0.7s ease 1;
}

/* .Primary-Navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, red 85%, transparent 90%);
  filter: blur(8px);
  transform: scale(1.1); 
  z-index: -1;
  opacity: 1;
} */

.Primary-Navbar {
    transition: top 0.3s ease, border-radius 0.3s ease;
    /* top: 55px; */
    border-radius: var(--main-radius);
}

.Primary-Navbar.Scrolled {
    top: 20px;
    border-radius: var(--main-radius);
}

.Secondary-Navbar {
    transition: opacity 0.3s ease;
}

.Hidden-Secondary {
    opacity: 0;
    background-color: var(--background-color);
    pointer-events: none;
    border-radius: var(--main-radius);
    -webkit-border-radius: var(--main-radius);
    -moz-border-radius: var(--main-radius);
    -ms-border-radius: var(--main-radius);
    -o-border-radius: var(--main-radius);
}

.Nav-Primary-First-Section,
.Nav-Primary-Last-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
    font-size: var(--font-14px);
}

.Nav-Secondary-First-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1.5rem;
}

.Nav-Secondary-Last-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}

.Logo-Mark {
    height: 65px !important;
    width: auto;
}

.Nav-Primary-Last-Section .hr {
    display: none;
}

.Hamburger-Menu {
    display: none;
    cursor: pointer;
    animation: fade-in-down 0.7s ease 1;
    -webkit-animation: fade-in-down 0.7s ease 1;

}


.Layout-Group {
    padding-top: calc(110px + 5px);
    display: flex;
    width: 100%;
    flex-direction: column;
    /* gap: var(--safe-place); */
}

@media (max-width: 768px) {
    .Nav-End-items {
        display: none;
    }

    .Main-text {

        white-space: nowrap;


    }

    .Footer .Logo-Marks {
        display: none;
    }

    .social-footer-group {
        display: flex;
        width: 100%;
        justify-content: space-between !important;
    }
}

.Footer-Group {
    height: calc(75px + (var(--safe-place) * 2));
    width: 100%;
    padding: var(--safe-place);
    z-index: 999999999;
    background-color: var(--background-color);
}

.Footer {
    padding: var(--safe-place);
    height: 100%;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: var(--main-shadow);
    border-radius: var(--main-radius);
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a img {
    width: 30px;
    height: 30px;
}

.social-icons a img:hover {
    scale: 1.1;
    box-shadow: var(--main-shadow);
}


/* .Footer {
    height: 75px;
    width: 100%;
    background-color: rgb(43, 255, 0);
    padding: var(--safe-place);

} */

.social-footer-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.social-footer-group p {
    font-size: 20px;
    font-weight: 700;
}