
@import url('./font.css');
@import url('./animation.css');
@import url('./layout.css');
@import url('./color.css');
@import url('./kit.css');
@import url('./tickers.css');
@import url('./item.css');
@import url('./accessibility.css');
@import url('./form.css');
@import url('./video.css');
@import url('./header.css');
@import url('./section.css');
@import url('./faq.css');
@import url('./scrollbar.css');
@import url('./panel.css');
@import url('./read.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}
/* 
html {
    height: 100%;
} */

.asw-footer {
    display: none !important;
}

.asw-menu-btn {
    height: 50px !important;
    width: 50px !important;
}