.scroll-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll-container:hover .scrollbar-y,
.scroll-container:hover .scrollbar-x {
  opacity: 1;
  transition: all 0.3s ;
}

.scroll-content {
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-content::-webkit-scrollbar {
  display: none;
}

.scrollbar-y {
  transition: all 0.3s ;
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 100%;
  background: transparent;
  z-index: 99999;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

}

.scrollbar-x {
  transition: all 0.3s ;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 11px;
  width: 100%;
  background: transparent;
  z-index: 99998;
  border-inline: 5px solid transparent;

}

.thumb-y,
.thumb-x {
  position: absolute !important;
  border-radius: var(--max-radius);
}



.scrollbar-y:hover .thumb-y,
.scrollbar-y.dragging .thumb-y {
  width: 8px ;
  transition: all 0.3s ;
}
.scrollbar-x:hover .thumb-x,
.scrollbar-x.dragging .thumb-x {
  height: 8px ;
  transition: all 0.3s ;
}

.thumb-y:hover,
.thumb-y.dragging {
  background-color: #c0c0c0;
  width: 8px  !important;

}


.thumb-x:hover,
.thumb-x.dragging {
  background-color: #c0c0c0;
  height: 8px !important;


}


.thumb-y {
  position: absolute;
  width: 100%;
  margin-right: 5px;
  top: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.6);
  border-radius: var(--max-radius);
  transition: all 0.3s ;
  width: 4px ;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.thumb-x {
  height: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  height: 8px ;
  transition: all 0.3s ;
  background-color: rgba(192, 192, 192, 0.6);
}